.mainpage
{
    border: 1px solid red;
    min-height: 80vh;
    max-height: fit-content;
    margin-top: 60px;
}
.apps .card
{
    width: 200px;
    height: 200px;
    transition-duration: 300ms;
}
.apps a
{
    text-decoration: none;
}
.apps .card:hover
{
    transform: scale(1.1,1.1);
    transition-duration: 300ms;
}
.mylader
{
    color:red;
    font-size: 50px;
    text-align: center;
}